<div class="flexslider">
  <ul class="slides">
  <li>
    <div style="border-style: solid; border-radius: 25px; border-width: 2px;">
      <p style="text-align:center; font-size: 18px; font-weight: bold; text-decoration: underline;"> IMGEPs applied to developmental robotics systems </p>
      <img src="{{ 'media/svg/imgep_robotics.svg' | prepend: site.baseurl }}" />
    </div>
  </li>

<li>
  <div style="border-style: solid; border-radius: 25px; border-width: 2px; margin-bottom: 10px;">
    <p style="text-align:center; font-size: 18px; font-weight: bold; text-decoration: underline;"> IMGEPs applied to morphogenetic systems </p>
    <img src="{{ 'media/svg/imgep_lenia.svg' | prepend: site.baseurl }}" />
  </div>
  </li>

  </ul>
</div>
