<div style="display: flex;  justify-content: space-between;">
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px;">
<source src="{{ 'media/video/pattern1.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px;">
<source src="{{ 'media/video/pattern6.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px;">
<source src="{{ 'media/video/pattern3.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px;">
<source src="{{ 'media/video/pattern7.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
</div>

<div style="margin-top: 5px; margin-bottom: 10px; display: flex; justify-content: space-between;">
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px; padding-bottom: 2px;">
<source src="{{ 'media/video/pattern5.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px; padding-bottom: 2px;">
<source src="{{ 'media/video/pattern2.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px; padding-bottom: 2px;">
<source src="{{ 'media/video/pattern8.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
<video muted autoplay loop style="width: 24%; border-style: solid; border-radius: 25px; border-width: 2px; padding-bottom: 2px;">
<source src="{{ 'media/video/pattern4.webm' | prepend: site.baseurl }}" type="video/webm">
Your browser does not support the video tag.
</video> 
</div>

