html {
  font-size: $base-font-size;
  //font-weight:$base-font-weight;

}

abbr {
  border-bottom: $abbr-border-bottom;
  cursor: help;
}

p {
    color: #333;
    font-size: $base-font-size;
    //font-weight:$base-font-weight;
    line-height: 2;
}

li{
  font-size: $base-font-size;
  //font-weight:$base-font-weight;
  line-height: 2;
}

small,
.small {
  font-size: 0.707rem;
}

sup {
  position: relative;
  vertical-align: middle;
  top: -0.9ex;
}
